# Pandas III

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
pd.options.display.max_rows = 10

In [2]:
df = pd.read_csv('data/beer_subset.csv.gz', parse_dates=['time'], compression='gzip')
df.head()

,abv,beer_id,brewer_id,beer_name,beer_style,review_appearance,review_aroma,review_overall,review_palate,profile_name,review_taste,text,time
0,7.0,2511,287,Bell's Cherry Stout,American Stout,4.5,4.0,4.5,4.0,blaheath,4.5,Batch 8144\tPitch black in color with a 1/2 f...,2009-10-05 21:31:48
1,5.7,19736,9790,Duck-Rabbit Porter,American Porter,4.5,4.0,4.5,4.0,GJ40,4.0,Sampled from a 12oz bottle in a standard pint...,2009-10-05 21:32:09
2,4.8,11098,3182,Fürstenberg Premium Pilsener,German Pilsener,4.0,3.0,3.0,3.0,biegaman,3.5,Haystack yellow with an energetic group of bu...,2009-10-05 21:32:13
3,9.5,28577,3818,Unearthly (Imperial India Pale Ale),American Double / Imperial IPA,4.0,4.0,4.0,4.0,nick76,4.0,"The aroma has pine, wood, citrus, caramel, an...",2009-10-05 21:32:37
4,5.8,398,119,Wolaver's Pale Ale,American Pale Ale (APA),4.0,3.0,4.0,3.5,champ103,3.0,A: Pours a slightly hazy golden/orange color....,2009-10-05 21:33:14

### Groupby

The components of a groupby operation are to

1. Split a table into groups
2. Apply a function to each group
3. Combine the results

In pandas the first step looks like

```python
df.groupby( grouper )
```

`grouper` can be many things

- Series (or string indicating a column in `df`)
- function (to be applied on the index)
- dict : groups by *values*
- `levels=[ names of levels in a MultiIndex ]`

Haven't really done anything yet. Just some book-keeping to figure out which **keys** go with which **rows**. Keys are the things we've grouped by (each `beer_style` in this case).

There's a generic aggregation function:

Which accepts some common operations as strings:

,abv,beer_id,brewer_id,review_appearance,review_aroma,review_overall,review_palate,review_taste
beer_style,,,,,,,,
Altbier,5.850000,43260.500000,419.500000,4.000000,3.750000,4.000000,3.750000,4.000000
American Adjunct Lager,4.872727,12829.909091,2585.909091,2.954545,2.613636,3.272727,2.909091,2.750000
American Amber / Red Ale,6.195652,28366.777778,2531.111111,3.740741,3.592593,3.870370,3.555556,3.777778
American Amber / Red Lager,4.822857,22277.500000,5620.125000,3.437500,3.312500,3.375000,3.187500,3.125000
American Barleywine,10.208333,32457.250000,3744.083333,3.958333,3.937500,3.729167,3.895833,3.937500
...,...,...,...,...,...,...,...,...
Tripel,9.329412,16027.705882,2882.882353,4.264706,4.088235,3.970588,3.911765,4.176471
Vienna Lager,4.985714,19497.750000,6180.750000,3.500000,3.250000,3.375000,3.562500,3.312500
Weizenbock,8.350000,19540.500000,250.000000,4.000000,3.750000,4.250000,4.250000,4.250000
Wheatwine,11.075000,36980.000000,629.600000,3.800000,4.000000,3.500000,4.000000,3.700000
Witbier,6.175000,27346.600000,3583.700000,3.750000,3.650000,3.600000,3.550000,3.650000

Or functions that can operate on Pandas or Numpy objects:

,abv,beer_id,brewer_id,review_appearance,review_aroma,review_overall,review_palate,review_taste
beer_style,,,,,,,,
Altbier,5.850000,43260.500000,419.500000,4.000000,3.750000,4.000000,3.750000,4.000000
American Adjunct Lager,4.872727,12829.909091,2585.909091,2.954545,2.613636,3.272727,2.909091,2.750000
American Amber / Red Ale,6.195652,28366.777778,2531.111111,3.740741,3.592593,3.870370,3.555556,3.777778
American Amber / Red Lager,4.822857,22277.500000,5620.125000,3.437500,3.312500,3.375000,3.187500,3.125000
American Barleywine,10.208333,32457.250000,3744.083333,3.958333,3.937500,3.729167,3.895833,3.937500
...,...,...,...,...,...,...,...,...
Tripel,9.329412,16027.705882,2882.882353,4.264706,4.088235,3.970588,3.911765,4.176471
Vienna Lager,4.985714,19497.750000,6180.750000,3.500000,3.250000,3.375000,3.562500,3.312500
Weizenbock,8.350000,19540.500000,250.000000,4.000000,3.750000,4.250000,4.250000,4.250000
Wheatwine,11.075000,36980.000000,629.600000,3.800000,4.000000,3.500000,4.000000,3.700000
Witbier,6.175000,27346.600000,3583.700000,3.750000,3.650000,3.600000,3.550000,3.650000

And for many common operations, there are also convenience functions:

,abv,beer_id,brewer_id,review_appearance,review_aroma,review_overall,review_palate,review_taste
beer_style,,,,,,,,
Altbier,5.850000,43260.500000,419.500000,4.000000,3.750000,4.000000,3.750000,4.000000
American Adjunct Lager,4.872727,12829.909091,2585.909091,2.954545,2.613636,3.272727,2.909091,2.750000
American Amber / Red Ale,6.195652,28366.777778,2531.111111,3.740741,3.592593,3.870370,3.555556,3.777778
American Amber / Red Lager,4.822857,22277.500000,5620.125000,3.437500,3.312500,3.375000,3.187500,3.125000
American Barleywine,10.208333,32457.250000,3744.083333,3.958333,3.937500,3.729167,3.895833,3.937500
...,...,...,...,...,...,...,...,...
Tripel,9.329412,16027.705882,2882.882353,4.264706,4.088235,3.970588,3.911765,4.176471
Vienna Lager,4.985714,19497.750000,6180.750000,3.500000,3.250000,3.375000,3.562500,3.312500
Weizenbock,8.350000,19540.500000,250.000000,4.000000,3.750000,4.250000,4.250000,4.250000
Wheatwine,11.075000,36980.000000,629.600000,3.800000,4.000000,3.500000,4.000000,3.700000
Witbier,6.175000,27346.600000,3583.700000,3.750000,3.650000,3.600000,3.550000,3.650000

By default the aggregation functions get applied to all columns, but we can subset:

In [9]:
review_cols = [c for c in df.columns if c[0:6] == 'review']
review_cols

['review_appearance',
 'review_aroma',
 'review_overall',
 'review_palate',
 'review_taste']

`.` attribute lookup works as well.

### Example

Find the `beer_styles` with the greatest variance in `abv`:

### Some more complex examples

Multiple aggregations on one column

Single aggregation on multiple columns

Multiple aggregations on multiple columns

Hierarchical Indexes in the columns can be awkward to work with, so you can move a level to the Index with `.stack`:

You can group by **levels** of a MultiIndex:

Group by **multiple** columns

### Example
Find the relationship between `review` length (the text column) and average `review_overall`

<div class="alert alert-info">
  <b>Bonus exercise</b>
</div>

- Try grouping by the number of words
- Try grouping by the number of sentences

_Hint_: `str.count` accepts a regular expression...

### Example

Which **brewer** (`brewer_id`) has the largest gap between the min and max `review_overall` for two of their beers?

_Hint_: You'll need to do this in two steps:
    1. Find the average `review_overall` by `brewer_id` and `beer_name`.
    2. Find the difference between the max and min by brewer (rembember `.groupby(level=)`)

### Complex Example

Create a more aggregated "kind" of beer, less detailed than `style`

In [130]:
kind = df['beer_style'].str.lower()\
    .replace({'india pale ale': 'ipa', 'american pale ale': 'apa'})
kind.head()

0                    american stout
1                   american porter
2                   german pilsener
3    american double / imperial ipa
4           american pale ale (apa)
Name: beer_style, dtype: object

In [49]:
kinds = ['ipa', 'apa', 'amber ale', 'rye', 'scotch', 'stout', 
         'barleywine', 'porter', 'brown ale', 'lager', 'pilsner',
         'tripel', 'bitter', 'farmhouse', 'malt liquour', 'rice']

#### Bonus
We can use [regular expressions](https://docs.python.org/3/library/re.html) to do this in one (convoluted) line...

In [107]:
expr = '|'.join(['(?P<{name}>{pat})'.format(pat=kind, name=kind.replace(' ', '_')) 
                 for kind in kinds])
kind2 = df['beer_style'].str.lower()\
    .replace({'india pale ale': 'ipa', 'american pale ale': 'apa'})\
    .str.extract(expr).fillna('').sum(1)\
    .str.lower().replace('','other')
kind2.head()

/Users/kfor/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  app.launch_new_instance()

0     stout
1    porter
2     other
3       ipa
4       apa
dtype: object

### Back to the example...

Find the highest rate "kind" of beer

How are the different kinds of beers rated for each brewer?

Find the number of beers of each kind by brewer:

We've seen a lot of permutations among number of groupers, number of columns to aggregate, and number of aggregators.


In fact, the `.agg`, which returns one row per group, is just one kind of way to combine the results. The three ways are

- `agg`: one row per results
- `transform`: identically shaped output as input
- `apply`: anything goes

### Transform

Combined `Series`/`DataFrame` is the same shape as the input.

For example, say you want to standardize the reviews by subtracting the mean.

We can do this at the *person* level with `groupby` and `transform`.

This uses the *group* means instead of the overall means

In [145]:
df[['profile_name','review_overall','review_overall_demeaned']]\
    .sort_values('profile_name').head(10)

    profile_name  review_overall  review_overall_demeaned
140     05Harley             4.0                   0.0000
461         ADZA             3.5                   0.0000
23          ALeF             5.0                   0.0000
789       ATPete             3.0                  -0.8125
855       ATPete             2.5                  -1.3125
851       ATPete             4.0                   0.1875
819       ATPete             4.5                   0.6875
808       ATPete             4.0                   0.1875
802       ATPete             4.0                   0.1875
773       ATPete             5.0                   1.1875

## Apply

- `.apply()` can return all sorts of things, doesn't have to be the same shape...
- Lots of uses, too many to go into...

In [146]:
def something(x):
    return x['review_appearance'].max() - x['review_aroma'].min()

Or more succinctly as a `lambda` function:

## References

Slide materials inspired by and adapted from [Chris Fonnesbeck](https://github.com/fonnesbeck/statistical-analysis-python-tutorial) and [Tom Augspurger](https://github.com/TomAugspurger/pydata-chi-h2t)