In [ ]:
# DO NOT MODIFY THIS STUFF

from pandas import Series

CONST_A = Series(
    [1, 2, 3, 4, 5, 6, 7], 
    index=["North America", 
           "South America", 
           "Europe",
           "Africa",
           "Asia", 
           "Australia",
           "Antarctica",
           ])

CONST_B = Series(
    [1, 2, 3, 4, 5, 6, 7], 
    index=["North America", 
           "South America", 
           "Asia", 
           "Australia",
           "Antarctica",
           "Europe",
           "Africa",
           ])

CONST_C = Series(
    [3, 2, 1, 5, 4], 
    index=["North America",
           "Australia",
           "Antarctica",
           "Europe",
           "Africa",
           ])

CONST_D = Series(
    [100, 200, 9.99, 9.999, 1.2],
    index=["North America",
           "North America",
           "North America",
           "North America",
           "North America",
           ])

CONST_E = Series(
    [100, 200, 9.99, 9.999, 1.2],
    index=["Asia",
           "Africa",
           "Africa",
           "North America",
           "North America",
           ])

In [ ]:
def multiply_and_then_add(series_a, series_b):
    """Multiple two different series objects together, and the compute the sum.
    
    This is a dot product.
    
    The series objects will all have continent names for index
    values (see examples above), and will have numerical values.
    
    Where missing values are filled with 0    
    
    Example:
    >>> data = [33, 52, 12]
    >>> weights = [0.3, 0.6, 0.1]
    >>> index = ["x", "y", "z"]
    >>> values = pd.Series(data, index=index)
    >>> weights = pd.Series(weight_vals, index=index)
    >>> multiply_and_then_add(values, weights)
    42.3
    
    Args:
        series_a (pd.Series): a pandas series object.
        series_b (pd.Series): also a pandas series object.
        
    Return:
        float: the dot product of series_a and series_b.
    """
    return 99999999

In [ ]:
def test_multiply_and_then_add():
    """Tests the multiple_and_then_add function.
    
    If test fails, the result of multiple_and_then_add 
    is printed.
    """
    res = multiply_and_then_add(CONST_A, CONST_B)
    assert res == 125, res
    
    res = multiply_and_then_add(CONST_B, CONST_A)
    assert res == 125, res
    
    res = multiply_and_then_add(CONST_A, CONST_C)
    assert res == 53, res
    
test_multiply_and_then_add()

# Question
What happens with Series that have duplicated values
in their indexes? (E.g. CONST_D and CONST_E)

Hint: bad things happen

In [ ]:
# Explore here
CONST_D